:root{
    --dark-color: #bd83ce;
    --light-color: #f7e8f6;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-container{
    background: linear-gradient(to right bottom, var(--dark-color), var(--light-color));
    height: 450px;
}

.top-wrapper{
    height:450px ;
    width: 600px;
    margin: 0 auto;
    border: 2px solid white;
    position: relative;
}

.cloud{
    position: absolute;

}

.cloud1{
    position: absolute;

}

.cloud2{
    position: absolute;

}


.mountain{
    position: absolute;
    bottom: 0;
}