:root{
    --dark-color: #bd83ce;
    --light-color: #f7e8f6;
}

html{
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-container{
    background: linear-gradient(to right bottom, var(--dark-color), var(--light-color));
    height: 450px;
}

.top-wrapper{
    height:450px ;
    width: 600px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.cloud{
    position: absolute;

}

.cloud1{
    left:10%;
    top:20%;

}

.cloud2{
    left:40%;
    top:5%;

}


.mountain{
    left:0%;
    position: absolute;
    bottom: 0;
}

h1{
    font-family: 'Mansalva', cursive;
}

.underline{
    text-decoration: underline;
}

.profile{
    width: 800px;
    margin: 2rem auto;
    text-align: center;
}

.profile_image{
    width: 100px;
    height: 100px;

}